{{ define "title" }}my-sha {{ .Repo.App }}{{ end }}

{{ define "content" }}
<div class="page-header">
  <h1>Hello {{ .Repo.App }}!</h1>
  <p>Your application-token is <span class="label label-primary">{{ .Repo.Token }}</span></p>
</div>

<div class="page-header">
  <h2>Quick Info:</h2>
</div>
<p>
  Current Git information:
  <div class="well">{{ .Repo.Revision }}</div>
</p>
<p>Deploy-hook URL: <span class="label label-primary">{{ .Config.MY_SHA_DEPLOY_HOOK_URL }}</span></p>
<p>Revision URL: <span class="label label-primary">{{ .Config.MY_SHA_REVISION_URL }}</span></p>

<div class="page-header">
  <h2>Documentation</h2>
</div>
{{ "DOCU.md" | markDown}}
{{ end }}


